.skeleton-image {
    background-color: #e0e0e0; /* Gray background color */
}

.skeleton-title {
    background-color: #f0f0f0; /* Lighter gray background color */
}

.skeleton-description {
    background-color: #e0e0e0; /* Gray background color */
}

.skeleton-price {
    background-color: #f0f0f0; /* Lighter gray background color */
}
